<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

    <title>{{title}}</title>
  </head>
  <body>
  {% block content %}
  {% endblock content %}
    <script src="{{url_for('static', filename='js/jquery-3.2.1.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.js@1.12.9/dist/umd/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap@4.0.0/dist/js/bootstrap.min.js')}}"></script>
  </body>
</html>